###### MAIN ######
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_APP_KEY="0CEUhl0xLj3ar7a"

###### CryptoJS ######
NEXT_PUBLIC_CRYPTOJS_KEY="TXRZ3jThBP2dWnUN"
NEXT_PUBLIC_CRYPTOJS_IV="2Mr9ca8KFEdAFGua"